<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oasystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidstudio"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.ContactActivity" />
        <activity
            android:name=".view.ImageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.ProductActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.UserCenterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>